body{
    background-color: black;
    color: white;
}

header {
    background-color: rgb(66, 64, 64);
    padding: 15px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 18px;
}
ul {
    font-size: 15px;
}
li {
    padding: 5px;
}